.usertable {
  text-align: center;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
  td,
  th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
}
