.ctn {
  display: none;
  position: fixed;
  left: 25%;
  border: 3px solid #f1f1f1;
  background-color: white;
  z-index: 999;
  width: 50%;
  .form {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    input {
      font-size: 1rem;
      width: 70%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      border-radius: 4px;
    }
    input:focus {
      background-color: #ddd;
      outline: none;
    }
    .cancel {
      background-color: red;
    }
  }
}
